.wrapper{
    padding:0.25rem 0
}

.wrapper h3{
    margin-bottom: 2.25rem;
    color: var(--text-color);
}

.chart {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

}


.lineMain {
    flex-basis: 100%;
}

.pieMain {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

@media (min-width:678px) {
    .pieMain {
        flex-direction: row;
    }
}

@media (min-width:1200px) {
    .chart {
        flex-direction: row;
        gap: 1rem;
    }

    .lineMain {
        flex-basis: 50%;
    }

    .pieMain {
        flex-basis: 50%;
    }
}