.wrapper {
    color:var(--text-color);
    overflow: hidden;
}

.header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2.5rem 0 2rem;
}

.search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 100%;
    font-size: 1.1rem;
    padding: 0.5rem 1rem 0.5rem 3rem;
    font-family: "yekan";
}

.iconSearch {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
    }
}