.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.sidebar {
    width: 100%;
}

.main {
    background-color: #293145;
    width: 100%;
    overflow: hidden;
    border-radius: 2rem;
    padding: 1rem 2rem;
}

.modal {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
    }

    .sidebar {
        width: 75px;
    }

}

@media (min-width: 992px) {
    .sidebar {
        width: 200px;
    }

}