@font-face {
  font-family: "yekan";
  src: url("./asset/font/Yekan.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "yekan", "Roboto";
  background-color: #232a3b;
  position: relative;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #313a55;
  border-radius: 1rem;

}

input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #313a55;

}

input:focus {
  outline: none;
}

.container {
  padding: 0 12px;
}


.MuiFormLabel-root{
  direction: 'rtl'!important;
}

@media (min-width:637px) {
  .container {
    padding: 0 32px;
  }

}

@media (min-width:768px) {
  .container {
    padding: 20px 32px;
  }

}