:root {
  --text-color: #000;
  --main-bg-color: #1c3faa;
  --app-bg-color: #f1f5f8;
  --section-bg-color: #fff;
  --hover-bg-color: #1a389f;

}

:root.dark-mood {
  --text-color: #fff;
  --main-bg-color: #232a3b;
  --main-bg-color: #1d202a;
  --app-bg-color: #293145;
  --section-bg-color: #313a55;
  --hover-bg-color: #1e2533;
}



@font-face {
  font-family: "yekan";
  src: url("./asset/font/Yekan.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "yekan", "Roboto";
  background-color: var(--main-bg-color);
  position: relative;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #313a55;
  border-radius: 1rem;

}

input {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--section-bg-color);
  color: var(--text-color);
}

input:focus {
  outline: none;
}

input::placeholder {
  font-size: 1rem;
  color: var(--text-color);
}

.container {
  padding: 0 12px;
}


@media (min-width:637px) {
  .container {
    padding: 0 32px;
  }

}

@media (min-width:768px) {
  .container {
    padding: 20px 32px;
  }

}

@media screen and (max-width:992px) {
  * {
    cursor: default;
  }

}