@font-face {
  font-family: "yekan";
  src: url("./asset/font/Yekan.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "yekan";
  background-color: #232a3b;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 12px;
}


@media (min-width:637px) {
  .container {
    padding: 0 32px;
  }

}

@media (min-width:768px) {
  .container {
    padding: 20px 32px;
  }

}